@import '_variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


html {
    font-family: 'Roboto', sans-serif;
    color: #333;
    height: 100vh;
}

body{
    background-color: #EFF1ED;
    margin: 0 5px;
}

/* Login page starts */

.login-container {
    box-sizing: border-box;
    padding: 10px;
    gap: 20px;
    #header{
        display: flex;
        flex-direction: column;
        img {
            width: 80px;
            height: 80px;
            position: relative;
            }
        h2 {
            position: absolute;
            margin-left: 90px;
        }
        #left-section {
            .wrapper {
                display: flex;
                flex-direction: column;
                h3{
                    text-align: center;
                }
                input[type=text], input[type=password] {
                    width: 100%;
                    margin: 15px 0;
                    border: 1px solid #333;
                    border-radius: 5px;
                    height: 30px;
                    box-sizing: border-box;
                    
                }
                button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: 'Roboto', sans-serif;
                    font-size: 16px;
                    margin: 15px 0;
                    height: 30px;
                    width: 100%;
                    border-radius: 5px;
                    background-color: #333;
                    color: $bg-color;
                    cursor: pointer;
                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
        
        }
    }
    
    .image-container{
        display: none;
        img{
            width: 600px;
            height: 370px;
        }
    }
}

/* Login page ends */


/* Navbar starts */

.contact {
    display: flex;
    justify-content: flex-end;
    background-color: #2B4162;
    .contact-options{
        a{
            padding: 10px;
        }

    }
}

.nav-container {
    margin: 4px 2%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    #header {
        display: flex;
        img {
            width: 80px;
            height: 80px;
            position: relative;
            }
        h2 {
            position: absolute;
            margin-left: 90px;
        }
        h4{
            position: absolute;
            margin-top: 70px;
            margin-left: 180px;
        }
        
    }
    .nav-right-section{
        button {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            height: 30px;
            width: 100%;
            border-radius: 5px;
            background-color: #FEF9FF;
            color: #333;
            border: 1px solid #333;
            cursor: pointer;
            &:hover {
                opacity: 0.7;
            }
        }
    }
}

/* Navbar ends */

/* Container starts */

.main-container {
    gap: 50px;
    .left-card-container {
        margin-top: 7%;
        margin-bottom: 7%;

        p {
            display: flex;
            align-items: center;
            span {
                margin-right: 3px;
            }
        }
        
        .top{
            display: flex;
            justify-content: center;
            height: 30px;
            margin-bottom: 55px;
            input {
                border-radius: 10px;
                border: 1px solid #333;
                width: 50%;
                font-family: 'Roboto', sans-serif;
                
            }
            button {
                border-radius: 5px;
                border: 1px solid #333;
                margin-left: 3px;
                cursor: pointer;
                color: #333;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 70px;
                
            }
        }
        .minified-card{
            padding: 20px;
            display: flex;
            gap: 35px;
            flex-direction: column;
            align-items: center;
            .card {
                background-color: #333;
                height: 40px;
                width: 200px;
                border-radius: 10px;
                color: #FEF9FF;
                box-shadow: -4px -2px 2.5px 1.5px $sun-orange;
                ul{
                    list-style: none;
                    padding: 0;
                    margin: 10px;
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }

    .right-card-container {
        p {
            display: flex;
            align-items: center;
            span {
                margin-right: 3px;
            }
        }

        .card{
            background-color: #333;
            box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 30%);
            color: #FEF9FF;
            height: 300px;
            border-radius: 30px;
            cursor: pointer;
            &:hover{
                rotate: 5deg;
                transition: 0.7s;
            }
            h1, h2 {
                margin: 0;
            }
            .current-weather-container {
                display: flex;
                flex-direction: column;
                padding: 10px;
                .top{
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    padding: 10px;
                    
                    .city-name{
                        font-size: 35px;
                    }
                    
                }
                .bottom {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    
                    .temperature{
                        font-size: 42px;
                    }
                }
            }
            .current-weather-main{
                display: flex;
                flex-direction: column;
                h1, h2 {
                    margin: 0;
                }
                h2 {
                    align-self: center;
                }
            }
            
        }
    }
}

/* Container ends */



/* Details starts */

   
.details-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    .current-weather {
        background-color: #333;
        height: 300px;
        border-radius: 30px;
        color: #FEF9FF;
        .top {
            display: flex;
            justify-content: space-around;
            align-items: center;
            .left{
                
                .city-name{
                    font-size: 30px;
                }
                
                .weather-description{
                    margin-bottom: 15px;
                }
            }
            .mid{
                font-size: 20px;
            }
            .right{
                
                .city-icon{
                    img{
                        width: 60px;
                    }
                }
                .temperature{
                    font-size: 40px;
                }
            }
        }
        .bottom{
            .details{
                gap: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                
            }
        }
    }
    .daily-forecast-weather {
        background-color: #333;
        height: 280px;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #FEF9FF;
        .daily-item{
            display: flex;
            align-items: center;
        }
        #daily-img{
            width: 50px;
        }
    }
    .homeIcon{
        display: flex;
        align-items: center;
        button{
            display: flex;
            align-items: center;
            height: 30px;
            cursor: pointer;
            border: 1px solid #333;
            border-radius: 10px;
            span {
                margin-right: 3px;
                font-family: 'Roboto', sans-serif;
                font-size: 16px;
                color: #333;
            }
        }
    }
}

/* Details ends */

/* Responsive starts */

@media (min-width: 800px) {
    .right-card-container{
        margin: 80px;
    }
    .nav-container{
        margin: 40px;
    }
    .details-container{
        gap: 40px;
    }
}

@media (min-width: 1250px) {
    body{
        margin: 10px 150px 0 150px;
    }
    .login-container{
        display: flex;
        padding: 0;
        margin: 200px 3%;
        #header {
            flex-basis: 30%;
            margin: auto;
            img, h1 {
                margin-bottom: 15%;
            }
        }
        .image-container{
            flex-basis: auto;
            display: flex;
            margin: auto;
        }
    }
    .nav-container{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 100px;
    }
    .main-container{
        display: flex;
        margin-top: 10%;
        padding: 0 300px 0 300px;
        justify-content: center;
        min-width: 600px;
        .left-card-container{
            flex-basis: 50%;
            margin: 0;
            .top{
                margin: 0;
                input{
                    width: 100%;
                }
            }
            .bottom{
                margin-top: 35px;
                .minified-card{
                    display: flex;
                    flex-direction: column;
                    padding: 0;
                    justify-content: space-between;
                    .card{
                        width: 200px;
                        height: 100px;
                        ul{
                            margin: 38px;
                        }
                    }
                }
            }
        }
        .right-card-container{
            flex-basis: 50%;
            margin: 0;
            p{
                display: none;
            }
            .card{
                height: 435px;
                box-shadow: -4px -2px 2.5px 1.5px $sun-orange;
                .top{
                    
                    .city-name{
                        margin-bottom: 10px;
                    }
                    .city-icon {
                        margin-top: 40px;
                    }
                }
                .bottom{
                    margin-top: 40px;

                }
            }
        }
    }

    .details-container{
    .current-weather{
        box-shadow: -4px -2px 2.5px 1.5px $sun-orange;
        .top{
            padding: 20px;
            .left{
                .city-name{
                    font-size: 40px;
                }
            }
            .mid{
                font-size: 50px;
            }
        }
        .bottom{
            .details{
                flex-direction: row;
                justify-content: center;
                gap: 40px;
                padding: 25px;
                margin: 30px;
                border-radius: 30px;
                .detail{
                    box-shadow: 0px 0px 4px 2px $sun-orange;
                    width: 280px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 30px;
                    span{
                        margin-right: 5px;
                    }
                }
            }
        }
    }


    }

    .details-container .daily-forecast-weather {
        box-shadow: -4px -2px 2.5px 1.5px $sun-orange;
        flex-direction: row;
        justify-content: center;
        gap: 50px;
        .daily-item {
            border: 1px solid #FEF9FF;
            border-radius: 30px;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 20px;
            padding: 50px;
            cursor: pointer;
            &:hover{
                #daily-img{
                    scale: 2;
                }
            }
        }
    }

}

/* Responsive ends */